body{
background-color: #e01073;
}

#main-header{
margin-top: 65px;
}

#main-header .container{
padding: 5px 0px;
}

#main-footer{
position: fixed;
bottom: 0;
left: 20px;
}

.container{
width:50%;
margin:auto;

border:8px #fffeff solid;
text-align:center;

background-color: #fffeff;
color: #6e6d7c;
}

.container h1{
margin:2px;
}

ul{
list-style: none;
}

a{
color: #777;
}

a:visited{
color: #777;
}

a:hover{
color: #78b5ff;
}

a:active{
color: #96c6ff;
}

#navbar{
width: 60%;
margin: 20px auto;

text-align:center;
}

#navbar ul{
margin: 7.5px;
padding-inline-start: 0;
}

#navbar li{
display: inline;
padding: 0 12px;
}

.temp-pad{
padding-bottom: 300px;
}
